main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

p {
  font-size: 17px;
  font-weight: bold;
}

a {
  text-decoration: none;
}


.rating span {
  margin: 0.1rem;
}

.btn {
  border-radius: 8px;
}

.btn-block {
  margin-top: 20px;
}

.nav {
  margin-left: 700px;
}

.checkout {
  margin: 0px;
  color: green;
}

.button {
  /* display: block; */
  margin-left: 400px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 15px;
  margin: 65px;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@media (max-width: 900px) {
  .nav {
    margin-left: 200px;
  }
}